/*======== Fonts ========*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777
}
/*======== Inserting this to make header and footer full-width ========*/
html, body {
    padding: 0;
    margin: 0;
  }
  
  .header {
    margin: 0;
  }

/*======== Wrapper ========*/
.wrapper {
flex: 1 0 auto;
}

html, body {
display: flex;
flex-direction: column;
height: 100vh;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*======== Header ========*/

.header {

    background: #ffffff;
    padding: 5px 10%;
    border-bottom: solid 1px #cccccc;
    min-height: 25px;
    
}

.header-all{
    max-width: 960px;
    margin: auto;
    
}

.header-name {
    color: white;
    width: 35%;
    padding: 5px;
    background: #4aaaa5;
    display: inline;
}
.header .main-menu {
    float: right;
    display: inline;
}

.main-menu a{
    text-decoration: none;
    color: #777777;
    line-height: 2em;
    padding: 5px 2px;
}

.main-menu a:hover{
   
}
/*======== Content ========*/

.content{
    background: white;
    /* margin: 5% 10%; */
    overflow: auto;
    margin: 5% auto;
    min-height: 65vh;
    max-width: 755px;
    padding: 20px 10px;
    border: solid 1px #dddddd;
}

.content img {
float: left;
padding-right: 5px;
}

.content-header{
border-bottom: solid 1px #cccccc;
margin-bottom: 25px;
}
/*======== Footer ========*/

.footer {
    text-align: center;
    background: #666666;
    padding: 10px 0;
    flex-shrink: 0;
    border-top: solid 5px #4aaaa5;
    
}

.footer p{
color: #cccccc;
}


/*======== Contact Form ========*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


/*======== Portfolio ========*/
/* 
.grid-contain{
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    display: grid;
} */
/* .grid-row:before, .grid-row:after{
content: "";
display: table;
clear: both;
}

.col-1{
    width: 16.66%; 
}
.col-2{
    width: 33.33%; 
}
.col-3{
    width: 50%; 
}
.col-4{
    width: 66.664%;
}
.col-5{
    width: 83.33%;
}
.col-6{
    width: 100%;
} */

.portfolio-images li{
    list-style: none;
    position: relative;
    text-align: center;
}

.image-text{
    position: absolute;
    transform: translate(-50%, -50%);
}

.pitem {
    margin: 4px;
}

.portfolio-item-1, .portfolio-item-2, .portfolio-item-3 {

        display: inline-block;
        min-width: 200px;
        height: 100px;
        margin: auto;
}


.portfolio-item-1 h4, .portfolio-item-2 h4, .portfolio-item-3 h4{
 color: goldenrod;
 text-align: center;
 font-size: 2em;
 background: #4aaaa5;

}

  /*=====Media screens======*/


  @media only screen and (max-width: 980px){
    .portfolio-item-1, .portfolio-item-2, .portfolio-item-3{
        /* width: 30%; */
        }
  }

  @media only screen and (max-width: 768px){
    .portfolio-item-1, .portfolio-item-2, .portfolio-item-3{
    margin: auto;
    width: 45%;
    }

  }

  @media only screen and (max-width: 640px){
    .header {
        padding: 5px 0;
        min-height: 0px;
        width: 100%;
        position: static;  /*This is redundant but doing it for HW criteria reasons */
    }
    .header-name{
        text-align: center;
    }
    .header-all{
        text-align: center;
        width: 100%;
    }
    .header .main-menu{
        display: block;
        float: none;
        text-align: center;
    }
    .content{
        margin: 2%; /*The example screenshot shows the content with a fixed width, I think this looks better */
    }
    .portfolio-item-1, .portfolio-item-2, .portfolio-item-3 {
       width: 100%;
    }
}
